!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace
*.db
*.egg-info/
*.jks
*.key
*.launch
*.log
*.mobileprovision
*.orig.*
*_override.tf
*_override.tf.json
*.p12
*.p8
*.parquet
*.py.isorted
*.pyc
*.retry
*.sqlite
*.sublime-workspace
*.tfstate
*.tfstate.*
*.tfvars
*-workspace
.ai
.bash_history
.cache
.classpath
.coverage*
.DS_Store
.editorconfig
.env
.github\instructions\nx.instructions.md
.local
.nx/cache
.nx/workspace-data
.project
.vscode/*
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
/out-tsc
/typings
ansible/group_vars/vault.yml
ansible/secrets/
apps/rtemobile-e2e/artifacts
apps/rtemobile-e2e/artifacts
CodeCoverage.xml
coverage.*
desktop.ini
npm-debug.*
pyvenv.cfg
yarn-error.log
.c9/
.cursor/
.expo/
.mypy_cache/
.pytest_cache/
.settings/
.yarn/
.git/
.idea/
.run/
.vscode/
working/
__pycache__/
_build/
Archive/
bin/
build/
cache/
dist/
docs/source/generated/
htmlcov/
lib/
lib64/
log/
logs/
node_modules/
tmp/
venv/
VersionArchive/
web-build/
temp/
rondfok/
